var config = {
  "awsAccessKeyId": "YOUR-AWS-ACCESS-KEY-ID",
  "awsSecretAccessKey": "YOUR-AWS-SECRET-ACCESS-KEY",
  "awsRegion": "eu-west-1",
  "tableName": "speedtestresults",
  "timeDataFieldName": "timestamp",
  "valueDataFieldName": "download_bit_per_second"
};

if (typeof exports !== "undefined") {
  if (typeof module !== "undefined" && module.exports) {
    exports = module.exports = config;
  }
}
